---
---

<div>
  <div class="flex space-x-4 border-b">
    <button id="week-view-button" class="px-4 py-2 font-semibold border-b-2 border-transparent">Semana</button>
    <button id="month-view-button" class="px-4 py-2 font-semibold border-b-2 border-transparent">Mes</button>
  </div>
  <div id="calendar-week"></div>
  <div id="calendar-month" class="hidden"></div>
</div>